page-welcome {
    #welcome {
        img {
            height: 150px;
            margin-left: 115px;
        }
        background: white;
        h1 {
            font-size: 42px;
            color: color($colors, primary);
            margin-top: 50px;
        }
        .marginTop {
            margin-top: 100px;
        }
    }
}