<h1>StaticPages#landing</h1>
<p>Find me in app/views/static_pages/landing.html.erb</p>

<% if user_signed_in? %>
    <h3>Bienvenido! <%= current_user.email %> </h3>
<% else %>
    <p> por favor inicia sesión para continuar </p>
<% end %>


  <ul class="nav justify-content-end">
     
        <li class="nav-item">
             <a rel="nofollow" data-method="delete" href="/users/sign_out">Salir</a>
        </li>
     </ul>

