page-home {
    ion-content {
        background-color: white;
    }
    h2 {
        padding-top: 80%;
        color: color($colors, light);
        text-align: center;
    }
    h3 {
        color: #CEC4EA;
        text-align: center;
    }
}